<!doctype html>
<title>Ticker Lookup App</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>Ticker Lookup App</h1>
  <div class=metanav>

    <h4>
      Please enter ticker symbol:
    </h4>

    <form id='userinfoform_lulu' method='post' action='/'>
      <p>
    Ticker symbol: <input type='text' name='ticker_lulu' />
      </p>
      <p>
    Month (number): <input type='text' name='month_lulu' />
      </p>
      <p>
    Choose data type  : <br />
          <input type='radio' name='answer_from_layout_lulu' value={{ans1}} /> {{ans1}} <br />
          <input type='radio' name='answer_from_layout_lulu' value={{ans2}} /> {{ans2}} <br />
          <input type='radio' name='answer_from_layout_lulu' value={{ans3}} /> {{ans3}} <br />
          <input type='radio' name='answer_from_layout_lulu' value={{ans4}} /> {{ans4}} <br />
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

   
  </div>
</div>
</html>